{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bcci</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <center>
        <h1>
            Stars of Team India
        </h1>
        <img src="{% static 'images/kohli.jpg' %}" alt="kohli" height="300px">
        <img src="{% static 'images/rahul.avif' %}" alt="rahul" height="300px">
        <img src="{% static 'images/rohit.avif' %}" alt="rohit" height="300px">
    </center>
</body>
</html>